@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
    /* note: must keep in sync with `theme-color` in `theme-effect.ts` */
    @apply bg-[#fcfcfc];
  }

  :root.dark {
    color-scheme: dark;
    /* note: must keep in sync with `theme-color` in `theme-effect.ts` */
    @apply bg-[#1C1C1C];
  }

  :root.pause-transitions * {
    transition-duration: 0ms !important;
  }

  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 11%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 11%;

    --card: 0 0% 99%;
    --card-foreground: 0 0% 11%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 99%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 99%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 99%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 99%;

    --card: 0 0% 11%;
    --card-foreground: 0 0% 99%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 99%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 99%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .ai-effect {
    mask-size: 400%;
    mask-position: 0%;
    mask-image: linear-gradient(60deg,black 25%,rgba(0,0,0,.2)50%,black 75%);
  }

  .ai-effect:hover {
    mask-position: 100%;
    transition: mask-position 1s ease,-webkit-mask-position 1s ease;
  }
}
